<header class="site-header">

  <div class="wrapper">


    <ul class="site-nav">
      <li>
        <a href="/services">Services</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/why-katy">Why Katy?</a>
      </li>
      <li>
        <a href="/why-katy">Contact</a>

        <ul class="sub-menu">
          <li>
            <a href="{{site.map_url}}" target="_blank">San Francisco</a>
          </li>
          <li>
            <a href="tel:{{site.tel}}">{{site.tel}}</a>
          </li>
          <li>
            <a href="mailto:{{site.email}}">{{site.email}}</a>
            
          </li>
        </ul>


      </li>
      <li>
        <a href="https://kgpcpa.sharefile.com/" target="_blank">Client Login</a>
      </li>
    </ul>

  </div>

</header>

<div class="site-sub-header">
  <div class="inner">

    <div class="logo">
      <h1>
        Katy G. Pletter, CPA
      </h1>
      <h2>
        Tax & Accounting Services
      </h2>
    </div>

  </div>
</div>