.section {
  overflow: hidden;
  padding: 125px 0;
  background-color: $background-color;
  background-position: top center;
  background-repeat: no-repeat;


  &#about {
    background-image: url($image-root + '/backgrounds/dots.png');
    background-position: center 40px;
  }

  h3 {
    font-size: 30px;  
    margin-bottom: 25px;
    color: $brand-color;
  }

  li {
    line-height: 2.5;
  }

  @media screen and (min-width: $on-laptop) {
    .col {
      float: left;
      width: 50%;
    }

    .col + .col {
      margin-left: -$center-offset;
    }

  }

  .section-title {
    font-size: 15px;
    color: $brand-color;
    text-align: left;
  }

  &.inverse {
    background-color: $background-color-inverse;
    color: $text-color-inverse;

    h3 {
      color: $text-color-inverse;
    }

  }


  .inner {
    max-width: -webkit-calc(1024px - (#{$spacing-unit} * 2));
    max-width:         calc(1024px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

  }

  #katy-drawing {
    background-image: url($image-root + '/katy.png');
    height: 235px;
    width: 361px;
  }

  @media screen and (max-width: 767px) { 
    padding: 30px 15px;
  }

  @media screen and (min-width: 768px) {

    .section-title {
      font-size: 15px;
      color: $brand-color;
      margin-right: $center-offset + 145px;
      text-align: right;
    }

    .circle { 
      width: 140px;
      height: 140px;
      background: #0cc3ba; 
      -moz-border-radius: 70px; 
      -webkit-border-radius: 70px; 
      border-radius: 70px;
      color: #fff;
      line-height: 140px;
      text-align: center; 
      float: right;
      margin-right: -20px;
    }
  }

}

#push {
  background-color: $background-color;
}