/**
 * Site header
 */
#site-header {
    
    background: transparent;
    position: fixed;
    z-index: 200;
    right: 0;
    left: 0;
    -webkit-transition:height .5s, background-color .5s, -webkit-transform .5s;
    transition:height .5s, background-color .5s, transform .5s;



    .site-nav {
        float: right;
        margin: 0;
        transition: margin-top  .5s ease-in;
        -webkit-transition: margin-top  .5s ease-in;

        a {
            color: #fff;

    
            &.active,
            &:hover {
                color: $text-hover-color;
                text-decoration: none;
            }

        }

        li {
            display: inline-block;
            padding: 10px;
            margin: 10px;
            list-style: none;
            font-size: 14px;
            text-transform: lowercase;

            a {
                font-size: 18px;
            }

            ul {
                position: absolute;
                display: block;
                margin: 20px 0 0 0;
                padding: 0;
                font-size: 14px;

                li {
                    padding: 0;
                    margin: 0;
                    display: block;
                    line-height: 2.5;
                    text-transform: none;

                    a {
                       font-size: 14px;
                    }

                }
            }

        }        
    }


    .sub-menu {
        -webkit-transition: height .5s, -webkit-transform .5s;
        transition:height .5s, transform .5s;
    }


    .menu-logo {
        margin-top: 20px;
        display: none;
        float: left;
        width: 126px;
        height: 82px;
        
        
        a {
            background-image: url($image-root + '/kgpcpa-logo-small.png');
            display: block;
            width: 126px;
            height: 82px;
            text-indent: -999px;
            overflow: hidden;
        }
    }

    .menu-icon {
        margin-top: 20px;
        display: none;
        float: right;
        width: 30px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
        background-image: url($image-root + '/icons/menu.png');
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;

    } 

    &.fixed {
        background-color: $header-bg-color;
        
        .site-nav {
            size: 14px;
            margin-top: 20px;
        }

        .sub-menu {
            height: 0px;
            overflow: hidden;
        }

        .menu-logo {
            display: block;
        }

    }   

    @media screen and (max-width: $on-laptop - 1) {
        
        .wrapper {
            padding-left: 30px;
            padding-right: 30px;
        }

        &.active {
            background-color: $header-bg-color;

            .menu-logo {
                display: block;
            }

            .menu-icon {
                background-position: 0 -50px; 
            }

            .site-nav {
                display: block;
            }

        }

        .menu-icon {
            display: block;
        }

        .site-nav {
            display: none;
            font-size: 22px;
            width: 100%;
            margin-top: 60px;
            margin-bottom: 30px;

            .sub-menu {
                display: none;
            }

            li {
                padding: 0;
                margin: 0 0 10px 0;
                display: block;

                a {
                    display: block;
                    border-bottom: 1px solid #4abab9;
                    padding: 5px 0 10px;
                    line-height: 2;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 100;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &:last-child {
                    a {
                        border-bottom: none;
                    }
                }
            } 
        }
    }

    @media screen and (min-width: $on-laptop) {
        &.fixed {
            height: 117px;
            background-color: $header-bg-color;

            .sub-menu {
                height: 0px;
                overflow: hidden;
            }

            .menu-logo {
                display: block;
            }

        }  
    }
}






.site-body {
    top: 645px;
    z-index: 100;
    position: relative;
}


.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}








