.site-sub-header {
    //height of the background images;
    // inital state is large.
    height: 645px;
    background-position: middle center;
    background-repeat: no-repeat;
    background-color: $background-color-inverse;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    

    @include splash-for('laptop');


    .inner {
        padding: 180px 0;
    }

    .logo {
        //width: 279px;
        margin: 0 auto;
        padding-top: 220px;
        text-align: center;
        background: url($image-root + '/kgpcpa-logo.png') center 0px no-repeat;

        h1 {
            margin-bottom: 0px;
        }

        h1, h2 {
            font-size: 30px;
            color: #fff;
            font-family: $secondary-font-family;
            font-weight: 300;
            white-space: nowrap;
            font-variant: small-caps;
            text-align: center;
        }
    }

    @include media-small {
        //height of the background images;
        height: 500px;

        @include splash-for('palm');

        .inner {
            padding: 80px 0;
        }

        .logo {
            padding-top: 180px;
            background-size: 219px;
            
            h1, h2 {
                font-size: 24px;
            }
        }

    }


    @media screen and (min-width: 1028px) {
        background-size: 100%;
        height: 645px;
    }

    @media screen and (max-width: $on-laptop -1) { 
        height: 645px;
        .inner {
            padding: 65px 0;
        }
    }

}